[MASTER]

ignore=migrations

[MESSAGES CONTROL]

disable=
    # Generally useless for this project:
    fixme,
    global-statement,
    invalid-name,
    missing-docstring,
    redefined-outer-name,
    too-few-public-methods,
    too-many-ancestors,
    # Disable false positives due to 'faker':
    no-member,
    # Just noise during the early stages:
    duplicate-code,

[REPORTS]

score=no

[SIMILARITIES]

ignore-imports=yes
