[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6"

[packages]

# Django
django = "~=2.0"
django-grappelli = "*"

# Django REST Framework
djangorestframework = "*"

# Database
dj_database_url = "*"
psycopg2-binary = "*"

# Email
django-sesame = "*"
django-anymail = "*"

# Utilities
arrow = "*"
faker = "*"
requests = "*"
minilog = "*"

# Server
whitenoise = "*"
gunicorn = "*"

# Tracking
rollbar = "*"

[dev-packages]

# Static analysis
pylint = "~=1.7.5"
astroid = "~=1.5.3" # temporary to work around apparent regression in 1.6
pycodestyle = "*"

# Testing
pytest = "< 3.3"
pytest-django = "*"
pytest-describe = "*"
pytest-expecter = "*"
pytest-catchlog = "*"
pytest-cov = "*"

# Tooling
django-extensions = "*"
honcho = "*"
watchdog = "*"
