[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6.3"


[packages]

django = "~=1.11"
djangorestframework = "*"

dj_database_url = "*"
psycopg2 = "*"

whitenoise = "*"
gunicorn = "*"


[dev-packages]

honcho = "*"
