[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]

# Django
django = "==3.1.6"
django-grappelli = "*"

# Django REST Framework
djangorestframework = "*"

# Database
dj_database_url = "*"
psycopg2-binary = "*"

# Email
django-sesame = "*"
django-anymail = "~=2.2"

# Utilities
arrow = "*"
faker = "*"
requests = "*"
minilog = "*"

# Server
whitenoise = "*"
gunicorn = "*"

# Tracking
bugsnag = "*"

[dev-packages]

# Static analysis
isort = "*"
pycodestyle = "*"
pylint = "==2.4.4"

# Testing
pytest = "~=3.3"
pytest-django = "*"
pytest-describe = "*"
pytest-expecter = "*"
pytest-randomly = "*"
pytest-cov = "*"

# Tooling
django-extensions = "*"
honcho = "*"
watchdog = "*"

[pipenv]

allow_prereleases = true
